In [1]:
import os
os.environ["OMP_NUM_THREADS"] = "1"

In [2]:
import numpy as np
import pandas_datareader as web
import pandas as pd
import datetime as dt
from yahoo_fin import stock_info as si
import yfinance as yf

Warning - Certain functionality
             requires requests_html, which is not installed.

             Install using:
             pip install requests_html

             After installation, you may have to restart your Python session.

In [3]:
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline
from sklearn.cluster import KMeans

In [4]:
companies_dow30 = si.tickers_dow()

In [5]:
clusters = 5

In [6]:
start = dt.datetime.now() - dt.timedelta(365 * 5)
end = dt.datetime.now()

In [7]:
data = yf.download(companies_dow30, start=start, end=end)

[*********************100%***********************]  30 of 30 completed

In [8]:
data = data.dropna()  # Drop rows with any NaN values

In [9]:
# Extract data for Open, Adj Close, and Volume
open_values = data['Open'].values
close_values = data['Adj Close'].values

# Calculate daily movements
daily_movements = close_values - open_values

In [10]:
normalizer = Normalizer()
clustering_model = KMeans(n_clusters = clusters, max_iter = 1000)
pipeline = make_pipeline(normalizer, clustering_model)
pipeline.fit(daily_movements)
labels = pipeline.predict(daily_movements)

In [11]:
results = pd.DataFrame({
    "clusters": clusters,
    "tickers": list(companies_dow30)
}).sort_values(by=["clusters"], axis = 0)

In [12]:
results

    clusters tickers
0          5    AAPL
27         5       V
26         5     UNH
25         5     TRV
24         5      PG
23         5     NKE
22         5    MSFT
21         5     MRK
20         5     MMM
19         5     MCD
18         5      KO
17         5     JPM
16         5     JNJ
15         5    INTC
14         5     IBM
13         5     HON
12         5      HD
11         5      GS
10         5     DOW
9          5     DIS
8          5     CVX
7          5    CSCO
6          5     CRM
5          5     CAT
4          5      BA
3          5     AXP
2          5    AMZN
1          5    AMGN
28         5      VZ
29         5     WMT